<!DOCTYPE html>
<html>
<head> {% include head.html %} </head>
<body style>
	    <header>
      <div class="container">
        <h1>Treasureisland</h1>
        <h2>Parcourez les différentes applications disponibles pour la TreasureBox de Seeraiwer</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
				<div style="color:red;background:pink;border:solid 1px red; padding:1em;margin-bottom:1em;font-size:110%;">
					<span style="font-weight:bolder;">!! ATTENTION !! Données factices !</span><br>
					Pour le moment, toutes les données présentées ici sont factices et sont destinées seulement à tester l'architecture !
					</div>
{{ content }}
      </section>
    </div>


  </body>
</html>
